.header {
  background-size: cover;
  border-bottom: 1px solid #ccc;
}

.content {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 64px 16px;
  overflow: auto;
}

.site-title {
  font-weight: 300;
  font-size: 42px;
  float: left;
}

.site-title a {
  text-decoration: none;
  color: #FFF;
}

.add-post-button {
  display: inline-block;
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;
  float: right;
}

.language-switcher {
  background: rgba(0, 0, 0, 0.1);
}

.language-switcher ul {
  list-style: none;
  width: 980px;
  margin: auto;
  text-align: right;
}

.language-switcher li {
  display: inline-block;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
}

.language-switcher li:first-child {
  color: rgba(255, 255, 255, 0.7);
}

.selected {
  border-bottom: 1px solid #fff;
}

@media (max-width: 767px){
  .add-post-button{
    float: left;
    margin-top: 16px;
  }
}


.ingredientPicture {

  width: 100px;

  border-radius: 4px;

  padding: 5px;

  height: 100px;

  border: 1px solid #ddd;

}



.ingredientLabel {

  text-align: center;

  text-indent: 50px;

  font-size: 20px;

  font-family: "lato";

}



* {



  box-sizing: border-box;



}







body {



  margin: 0;



  font-family: Arial;



}







.incredientsDiv {



  display: -ms-flexbox; /* IE10 */



  display: flex;



  -ms-flex-wrap: wrap; /* IE10 */



  flex-wrap: wrap;



  padding: 0 4px;



}







/* Create four equal columns that sits next to each other */



.incredientTableCell {
  display: inline-block;



  -ms-flex: 25%; /* IE10 */



  flex: 25%;



  max-width: 25%;



  padding: 0 4px;



}







.incredientTableCell img {



  margin-top: 8px;



  vertical-align: middle;



}







/* Responsive layout - makes a two column-layout instead of four columns */



@media screen and (max-width: 800px) {



  .incredientTableCell {



    -ms-flex: 50%;



    flex: 50%;



    max-width: 50%;


    display: inline-block;
  }



}







/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */



@media screen and (max-width: 600px) {



  .incredientTableCell {



    -ms-flex: 100%;



    flex: 100%;



    max-width: 100%;
    display:  inline-block;
    margin: 10px;



  }



}

.picContainer{
  position: relative;
  text-align: center;
  color: white;
  margin: 10px;
}
.picContainerBottomLeft{
  color: black;
  position: absolute;
  bottom: -19px;
  left: 20px;
  font-size: 12px;
}

.searchPanel{
  margin-top: 50px;
}

.recipeImage{
  width: 400px;
  border-radius: 4px;
  padding: 5px;
  height: 300px;
  border: 1px solid #ddd;
}

.recipeTitle{
  font-size: 25px;
  font-family: "montserrat";
}

.recipeSubTitle{
  font-size: 15px;
  font-family: "montserrat";
}

.recipeProgress{
  width: 410px;
  height: 20px;
}

.recipesmain{
  width: 50%;
  margin: 0 auto;
}
